/ml100k-UU
/ml100k-ALS
/ml100k-IALS
/ml100k-II
/ml20m-ALS
/ml20m-II
/ml20m-UU
/ml100k-Bias
/ml100k-Pop
/ml20m-Bias
/ml20m-Pop
/ml20m-IALS
/ml100k-TFMF
/ml100k-BPR
/ml10m-ALS
/ml10m-Bias
/ml10m-BPR
/ml20m-BPR
/ml10m-IALS
/ml10m-II
/ml10m-Pop
/ml10m-TFMF
/ml10m-UU
/ml20m-TFMF
/ml10m-ALS.json
/ml1m-ALS
/ml1m-ALS.json
/ml20m-ALS.json
/ml20m-II.json
/ml10m-II.json
/ml1m-II
/ml1m-II.json
/ml100k-ALS.json
/ml100k-II.json
/ml100k-UU.json
/ml10m-UU.json
/ml1m-UU
/ml1m-UU.json
/ml100k-IALS.json
/ml10m-IALS.json
/ml1m-IALS
/ml1m-IALS.json
/ml20m-IALS.json
/metrics.csv
