/ml20m-ALS/
/ml20m-ALS.json
/ml100k-II
/ml100k-II.json
/ml1m-UU
/ml1m-UU.json
/ml1m-ALS
/ml1m-ALS.json
/ml100k-UU
/ml100k-UU.json
/ml10m-UU
/ml10m-UU.json
/ml20m-IALS
/ml20m-IALS.json
/ml1m-II
/ml1m-II.json
/ml10m-II
/ml10m-II.json
/ml20m-II
/ml20m-II.json
/ml100k-ALS
/ml100k-ALS.json
/ml10m-ALS
/ml10m-ALS.json
/ml100k-IALS
/ml100k-IALS.json
/ml1m-IALS
/ml1m-IALS.json
/ml10m-IALS
/ml10m-IALS.json
/metrics.csv
/ml100k-impBPR
/ml100k-impBPR.json
/ml10m-impBPR
/ml10m-impBPR.json
